body
{
	/*background-color: #323232;*/
	color: gray;
	/*font-family:'Segoe UI';*/
	font-family: 'Roboto Condensed';
}
h4
{
	text-align:right;
}
p
{
	text-align:justify;
	font-size:14pt;
}
ol
{
	list-style-type:upper-roman;
	/*list-style-type:;*/
}
.nesting-lvl-1
{
	list-style-type:circle;
}
.nesting-lvl-2
{
	list-style-type:"- ";
}
figure
{
	text-align:center;
	font-style:italic;
}
a
{
	color:aliceblue;
}
	a:hover, a:hover:visited
	{
		color:blue;
	}
	a:visited
	{
		color:green;
	}