@page "/fibonacci"
@rendermode InteractiveServer

<h3>Fibonacci</h3>
<input type="number" min="1" @bind="limit"/>
<div>@range</div>

@code {
	int limit;
	List<int> range = new List<int>();
	void Calculate()
	{
		range = new List<int>();
		for (int a = 0, b = 1, c = a + b; a < limit; a = b, b = c, c = a + b)
			range.Add(a);
	}
}
